<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Handjet:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/index.css" />
		<title>Sombras da Eternidade</title>
	</head>

	<body>
		<header>
			<span>Sombras da Eternidade</span>
			<div class="btnGroup">
				<button id="singnIn">Cadastrar-se</button>
				<button id="singnUp">Entrar</button>
			</div>
		</header>

		<main>
			<section>
				<div class="container">
					<div class="about">
						<h2 class="title">Sombras da Eternidade</h2>
						<p class="describer">
							Em Sombras da Eternidade, cada passo que você dá ecoa pelo destino de um mundo à beira
							do caos. Suas escolhas não apenas moldarão sua jornada, mas também alterarão o rumo
							das forças que disputam o controle da realidade. Seja um guerreiro destemido que
							enfrenta monstros colossais, um mago capaz de dobrar os elementos à própria vontade,
							ou um berserker tomado pela fúria ancestral, cada decisão que você tomar deixará
							marcas permanentes na história. Encare alianças difíceis, desafie forças sombrias e
							descubra segredos antigos enquanto vive uma experiência profunda, imersiva e
							verdadeiramente inesquecível.
						</p>
					</div>
				</div>
			</section>
		</main>

		<script src="https://cdn.jsdelivr.net/npm/dompurify@2.3.4/dist/purify.min.js"></script>
		<script type="module" src="/js/script.js"></script>
	</body>
</html>
