/* fonts google */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400..900&family=Pirata+One&display=swap');

input{
    all: unset;
}

/* Estilos gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --color-1: #F2B544;
    --color-2: #F2D8A7;
    --color-3: #323940;
    --color-4: #ECECEC;
    --color-5: #292626;
  
    --btn-bg-1: #F25D07;
    --btn-bg-2: #D9420B;
  
    --cardo: 'Cardo', serif;
    --cinzel: 'Cinzel', serif;
    --pirata: 'Pirata One', serif;
}

/* Estilo do body */
body {
    width: 100vw;
    height: 100vh;
    
    background: url("/public/assets/img/backgrounds/paisagem_index.jpg") no-repeat center center fixed;
    background-size: cover;
}

main{
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 60%);

    display: flex;
    align-items: center;
}

.container{
    width: 90%;

    margin: 0 auto;
}

.forgoat{
    width: 50%;

    background: rgba(50, 57, 64, 0.6);
    border: 1px solid #FFFFFF;
    border-radius: 8px;

    padding: 40px;

    margin: 0 auto;
}

.title{
    font-size: 2rem;
    font-weight: 800;
  
    color: var(--color-1);

    margin-bottom: 40px;
}

.formControll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.formControll .formControlItem .formControlLabel{
    font-size: 0.785rem;
    font-family: var(--cardo);
    color: var(--color-1);
    text-transform: uppercase;

    margin-left: 5px;
}

.formControll .formControlItem .formControlInput{
    width: 97%;
    height: 25px;

    display: block;
    padding: 8px;

    background: #ECECEC;
    border-radius: 8px;
} 

.formControll .formControlItem .formControlInput:focus-within{
    inset: 0;
    border: 3px solid var(--color-1);
}

.alert{
    font-family: var(--cardo);
    font-size: 1rem;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.08em;
  
    color: var(--color-4);
}

button{
    background: var(--btn-bg-2);
    color: var(--color-2);
    border: none;
    border-radius: 8px;
  
    font-size: 1.2rem;
    font-family: var(--cardo);
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.15em;
  
    padding: 10px 20px;
  }
  
  button:hover{
    background: var(--btn-bg-1);
  }