/* fonts google */
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400..900&family=Pirata+One&display=swap");

/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-1: #f2b544;
  --color-2: #f2d8a7;
  --color-3: #323940;
  --color-4: #ececec;

  --btn-bg-1: #f25d07;
  --btn-bg-2: #d9420b;

  --cardo: "Cardo", serif;
  --cinzel: "Cinzel", serif;
  --pirata: "Pirata One", serif;
}

/* Estilo do body */
body {
  width: 100vw;
  height: 100vh;

  background: url("/public/assets/img/backgrounds/paisagem_index.jpg") no-repeat
    center center fixed;
  background-size: cover;
}

main {
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 60%);
}

.container {
  width: 90%;

  margin: 0 auto;
}

.painel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 75px;
}

.gold {
  grid-column: 2/3;
  justify-self: end;
  align-self: start;
}

.gold .title {
  color: var(--color-4);
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.user img {
  width: 250px;

  border: 1.5px solid var(--color-4);
  border-radius: 20px;
}

.user .text {
  display: flex;
  flex-direction: column;
  gap: 7px;

  color: var(--color-4);
  font-family: var(--family-3);
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}

.user .text .subtitle {
  font-family: var(--family-1);
  font-size: 0.85rem;
  font-weight: 700;
}

.proprets {
  justify-self: flex-end;
  align-self: center;

  display: flex;
  flex-direction: row;
  gap: 175px;

  color: var(--color-3);
}

.proprets .status > .statusListing,
.proprets .skills > .skillsListing {
  width: 200px;
  height: 265px;

  background: var(--color-4);
  opacity: 0.5;
  border: 1.5px solid var(--color-3);
  border-radius: 8px;
  padding: 10px;

  overflow-y: auto;
}

.listing {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;

  color: var(--color-5);
  text-transform: uppercase;
  text-wrap: wrap;
}

.btn-group {
  grid-column: 1/3;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-group button,
.btn-group a {
  width: 25%;
  padding: 10px 20px;

  font-family: var(--cardo);
  text-align: center;
  font-size: 1.2rem;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.15em;

  cursor: pointer;

  background: var(--btn-bg-2);
  color: var(--color-2);
  border: none;
  border-radius: 8px;
}

.btn-group button:hover,
.btn-group a:hover {
  background: var(--btn-bg-1);
}
.inventory {
  width: 100%;
  height: 550px;

  border: 1px solid var(--color-5);
  border-radius: 2px;

  padding: 12px;
}

.inventory .inventoryTitle {
  font-family: var(--family-2);
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
  color: var(--color-5);
}

/* pode ser utilizado em todo css */

.title {
  font-weight: 800;
}

.hiddenComponet {
  display: none;
  /* animation: slideClose 1s; */
}

.show {
  animation: slideOpen 1s;
}

@keyframes slideClose {
  0% {
    margin-right: 0px;
  }

  100% {
    margin-right: -150px;
  }
}

@keyframes slideOpen {
  0% {
    margin-right: -150px;
  }

  100% {
    margin-right: 0px;
  }
}
