/* fonts google */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400..900&family=Pirata+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

input{
  all: unset;
}

:root{
  --color-1: #F2B544;
  --color-2: #F2D8A7;
  --color-3: #323940;

  --btn-bg-1: #F25D07;
  --btn-bg-2: #D9420B;

  --cardo: 'Cardo', serif;
  --cinzel: 'Cinzel', serif;
  --pirata: 'Pirata One', serif;
}

body{
  width: 100vw;
  height: 100vh;

  
  background: url("/public/assets/img/backgrounds/paisagem_index.jpg") no-repeat center center fixed;
  background-size: cover;
}

.bg{
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 60%);
}

.container{
  width: 80%;
  height: 100%;

  margin: 0 auto;
}

.container,
#init,
.text{
  display: flex;
  justify-content: center;
  align-items: center;
}

#init{
  width: 797px;

  flex-direction: column;
  gap: 26px;
}

#init,
#login,
#register{
  background: rgba(50, 57, 64, 0.6);
  border: 1px solid #FFFFFF;
  border-radius: 8px;

  padding: 40px;
}

.text{
  color: var(--color-2);
  font-family: var(--cinzel);

  flex-direction: column;
  gap: 46px;
}

.title{
  font-size: 2.125rem;
  font-weight: 800;
  /* text-align: center; */

  color: var(--color-1);
}

.text p{
  font-size: 1.5rem;
  text-align: center;
}

.text span{
  font-family: var(--pirata);
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.08em;

  color: var(--color-1);
}

.btnGroup{
  display: flex;
  gap: 129px;
}

button{
  background: var(--btn-bg-2);
  color: var(--color-2);
  border: none;
  border-radius: 8px;

  font-size: 1rem;
  font-family: var(--cardo);
  font-weight: 700;
  line-height: 22px;

  padding: 10px 45px;
}

button:hover{
  background: var(--btn-bg-1);
}

#login{
  width: 709px;

  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 40px;
}

#login .title,
#login p,
#register .title,
#register p{
  text-align: center;
}

.formControll .formControlItem{
  margin-bottom: 40px;
}

.formControll .formControlItem .formControlLabel{
  font-size: 1rem;
  font-family: var(--cardo);
  color: var(--color-1);
  text-transform: uppercase;
}

.formControll .formControlItem .formControlInput{
  width: 97%;
  height: 30px;

  display: block;
  padding: 10px;

  background: #ECECEC;
  border-radius: 8px;
} 

.formControll .formControlItem .formControlInput:focus-within{
  inset: 0;
  border: 3px solid var(--color-1);
}

#login p,
#register p{
  color: var(--color-2);
  font-size: 0.785rem;
  font-family: var(--cinzel);
  font-weight: 900;
  line-height: 22px;
  letter-spacing: 0.2px;
}

a{
  color: var(--color-1);
  text-decoration: underline;
}

#register{
  width: 1460px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding: 40px;
}

#register .title{
  margin-bottom: 40px;
}

#register button{
  width: 100%;

  font-size: 1.2rem;

  margin-bottom: 40px;
}

#register #registerForm .formControll .formControlItem{
  margin-bottom: 60px;
}

#register .cardGroup{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-radius: 8px;
  justify-items: center;
  gap: 40px;
}

#register .cardGroup>.card{
  width: 220px;
  height: 105%;

  background: #ECECEC;
  border-radius: 8px;
  cursor: pointer;
  perspective: 1000px;

  overflow: hidden;
}

#register .cardGroup .card>.cardImg{
  width: 80%;
}

#register .cardGroup .card .cardImg>img{
  width: 100%;
}

#register .cardGroup .card .cardDescription{
  font-size: 0.785rem;
  color: var(--color-3);

  padding: 5px;
}

#register .cardGroup .card .cardBack{
  transform: rotateY(180deg);

  padding: 20px;
}

#register .cardGroup .card .cardBack ul{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#register .cardGroup .card .cardBack ul li{
  font-family: var(--cardo);
  font-weight: 800;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#init,
#register,
.cardBack{
  display: none;
}